@charset "utf-8";
body {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
}
img {
	border-width: 0;
	width: 100%;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, p, ul, ol, form, input, textarea, pre, figure {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
i, em, cite {
	font-style: normal;
}
textarea {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	resize: none;
	border: 1px solid #CCC;
}
select {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	height: 25px;
	border: 1px solid #CCC;
}
input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="month"], input[type="week"], input[type="date"], input[type="time"], input[type="datetime"], input[type="datetime-local"] {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	text-indent: 5px;
	height: 23px;
	height: 20px\9;
	padding-top: 3px\9;
	border: 1px solid #ccc;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	font-family: "微软雅黑";
	cursor: pointer;
	border-width: 0;
}
input[type="radio"], input[type="checkbox"] {
	width: 13px;
	height: 13px;
}
a {
	text-decoration: none;
}

.home {
	width: 100%;
	height: 580px;
	background-color: #FFFFFF;
}
.home dl {
	width: 1000px;
	height: 580px;
	margin: 0 auto;
}
.home dl dt {
	float: left;
	width: 45%;
	margin-top: 50px;
}
.home dl dd {
	float: left;
	width: 55%;
	margin-top: 40px;
}
.home dl dd .dh {
	float: left;
	width: 100%;
}
.home dl dd .dh a {
	float: right;
	width: 91px;
	height: 44px;
	background-image: url(/website/images/dh1.png);
	text-align: center;
	line-height: 40px;
	color: #2fbefe;
	font-size: 16px;
	margin-left: 20px;
}
.home dl dd .dh a.active {
	background-image: url(/website/images/dh2.png);
	color: #fff;
}
.home dl dd .logo {
	float: right;
	margin-top: 60px;
}
.home dl dd .down {
	float: right;
	width: 365px;
	height: 130px;
	margin-top: 80px;
	background-image: url(../images/down.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.home dl dd .down a {
	float: left;
	width: 210px;
	height: 60px;
	margin-bottom: 13px;
}
#main {
	float: left;
	width: 100%;
}
.section {
	float: left;
	width: 100%;
	height: 570px;
}
.section dl {
	width: 1000px;
	height: 570px;
	margin: 0 auto;
}
.section dl dt {
	float: left;
	width: 45%;
	margin-top: 120px;
}
.section dl dt em {
	float: left;
	width: 100%;
	font-size: 24px;
}
.section dl dt p {
	float: left;
	width: 100%;
	font-size: 16px;
	color: #666;
	margin-top: 20px;
}
.section dl dt img {
	float: left;
	margin-top: 30px;
}
.section dl dt span {
	float: left;
	width: 210px;
	height: 150px;
	background-image: url(/website/images/icon.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 40px;
}
.section dl dt span cite {
	color: #888;
	float: left;
	width: 82px;
	text-align: center;
	font-size: 18px;
	margin-top: 90px;
}
.section dl dd {
	float: left;
	width: 55%;
	margin-top: 50px;
}
.pageScroll {
	position: fixed;
	z-index:10;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #e5e5e5;
	text-align: center;
}
.scrollNav {
	display: inline-block;
	height: 31px;
	margin: 15px 80px 0;
 *width:24.5%;
 *float:left;
 *margin:15px 0 0;
 *text-align:center;
}
.scrollNav a {
	color: #666;
	font-size: 18px;
	line-height: 31px;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	text-indent: 45px;
}
.scrollNav_1 a {
	background-image: url(/website/images/mao1.png);
}
.scrollNav_2 a {
	background-image: url(/website/images/mao3.png);
}
.scrollNav_3 a {
	background-image: url(/website/images/mao5.png);
}
.scrollNav_4 a {
	background-image: url(/website/images/mao7.png);
}
.scrollNav.active a {
	color: #2fbefe;
}
.scrollNav_1.active a {
	background-image: url(/website/images/mao2.png);
}
.scrollNav_2.active a {
	background-image: url(/website/images/mao4.png);
}
.scrollNav_3.active a {
	background-image: url(/website/images/mao6.png);
}
.scrollNav_4.active a {
	background-image: url(/website/images/mao8.png);
}
.foot {
	float: left;
	width: 100%;
}
.foot .top {
	float: left;
	width: 100%;
	height: 340px;
	background-color: #91dde5;
	text-align: center;
}
.foot .top a {
	display: inline-block;
	margin: 75px 35px 0;
	width: 160px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center top;
	color: #FFF;
	font-size: 18px;
}
.foot .top a:hover {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.foot .top a i {
	margin-top: 175px;
	display: block;
}
.foot .top a.ios {
	background-image: url(/website/images/ios.png);
}
.foot .top a.Android {
	background-image: url(/website/images/android.png);
}
.foot .top a.sao {
	background-image: url(/website/images/ma.png);
}
.foot .bottom {
	float: left;
	width: 100%;
	padding-bottom: 60px;
}
.foot .bottom .zhuti {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
	height: 80px;
	text-align: center;
}
.foot .bottom .zhuti .left {
	float: left;
	width: 350px;
	position:relative;
}
.foot .bottom .zhuti .left a {
	font-size: 18px;
	color: #888;
	float: left;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 45px;
	margin-right: 40px;
}
.foot .bottom .zhuti .left .weibo {
	background-image: url(/website/images/weibo.png);
}
.foot .bottom .zhuti .left .weixin {
	background-image: url(/website/images/weixin.png);
}
.foot .bottom .zhuti p {
	float: left;
	font-size: 18px;
	color: #888;
	width: 400px;
	line-height: 30px;
}
.foot .bottom .zhuti .right {
	float: right;
	width: 250px;
	line-height: 30px;
}
.foot .bottom .zhuti .right a {
	font-size: 18px;
	color: #888;
	margin-left: 40px;
	float: right;
}
.advbox {
	width: 1000px;
	height: 360px;
	position: fixed;
	display: none;
	left: 50%;
	top: 0;
	margin: -180px 0 0 -500px;
	display:none;
}
.advbox .advpic {
	position: relative;
	height: 360px;
}
.advbox .advpic .closebtn {
	font-size: 36px;
	color: #fff;
	position: absolute;
	right: 5px;
	top: -5px;
	z-index: 10;
}
.all {
	float: left;
	width: 100%;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.head {
	float: left;
	width: 100%;
	padding: 40px 0;
}
.head img {
	float: left;
	width: 300px;
}
.head a {
	float: right;
	width: 91px;
	height: 44px;
	background-image: url(/website/images/dh1.png);
	text-align: center;
	line-height: 40px;
	color: #2fbefe;
	font-size: 16px;
	margin: 20px 0 0 20px;
}
.head a.active {
	background-image: url(/website/images/dh2.png);
	color: #fff;
}
.banner {
	float: left;
	width: 100%;
	height: 175px;
}
.about {
	float: left;
	width: 100%;
}
.about .text {
	float: left;
	width: 100%;
	padding: 40px 0 60px;
}
.about .text p {
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 35px;
	text-indent: 2em;
	color: #666;
}
.about h1 {
	float: left;
	width: 100%;
	background-image: url(/website/images/jiao.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 30px;
	text-indent: 50px;
	font-weight: normal;
}
.about .logo {
	float: left;
	width: 100%;
	margin-top: 50px;
}
.about .logo em {
	float: left;
	width: 182px;
	text-align: center;
	margin-right: 20px;
}
.about .logo em img {
	width: 182px;
	height: 67px;
	margin-bottom: 10px;
}
.foot2 {
	float: left;
	width: 100%;
	background-color: #666;
	height: 160px;
	margin-top: 180px;
	text-align:center;
	font-size: 18px;
}
.foot2 span {
	color: #FFF;
	text-indent: 40px;
	background-repeat: no-repeat;
	background-position: left center;
	line-height:30px;
	display:inline-block;
	margin:40px 50px 0;
}
.foot2 span.location {
	background-image:url(/website/images/icon1.png);
}
.foot2 span.phone {
	background-image:url(/website/images/icon2.png);
}
.foot2 span.mail {
	background-image:url(/website/images/icon3.png);
}
.foot2 p {
	color:#aaa;
	margin-top:30px;
}
.arrowlistmenu {
	float:left;
	width: 100%;
	margin-top:40px;
}
.arrowlistmenu .menuheader {
	font-size:24px;
	font-weight:normal;
	text-indent:30px;
	line-height: 60px;
	background-image:url(/website/images/jiao1.png);
	background-repeat:no-repeat;
	background-position:950px center;
	float:left;
	width:998px;
	border-radius:50px;
	cursor: pointer;
	border:1px solid #999;
	margin-top:30px;
}
.arrowlistmenu .openheader {
	background-image:url(/website/images/jiao2.png);
}
.arrowlistmenu ul {
	float:left;
	width:100%;
	padding:20px 0 30px;
}
.arrowlistmenu ul li {
	font-size:18px;
	color:#666;
	line-height:35px;
}
#weixin_menu {
	background-image:url(/website/images/wechat_bubble.png);
    bottom: 30px;
    display: none;
	width:162px;
    height: 175px;
    right: 25px;
    position: absolute;
}
#weixin_menu img {
	float:left;
	height:80%;
	margin:12px 0 0 10px;
}